body{
    background-color: wheat;
}

div.stripColor{
    background-color: #6d95ebd4;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

h1{
    text-align: center;
    font-size: 200%;
}

label{
    font-size: larger;
}

label.moveVariance{
    margin-left: 4.8em;
}

label.moveMode{
    margin-left: 5.6em;
}

label.moveMean{
    margin-left: 6.47em;
}

label.moveSum{
    margin-left: 6.15em;
}

label.moveStandardDeivation{
    margin-left: 1em;
}

label.modeLabel{
    position: relative; top: -22em; left: 12.15em;
    text-align: left;
    margin: 2em;
    background-color: #6d95ebd4;
    border-spacing: 0em;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    
}

label.modeLabelRandom{
    position: relative; top: 3em; left: -9.5em;
    text-align: left;
    margin: 2em;
    background-color: #6d95ebd4;
    border-spacing: 0em;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: -15em;
}

textarea.randomNumbersTextAreaClass{
    border: 6px solid #6d95ebd4;
    border-right: 6px solid #6d95ebd4;
    border-bottom: 6px solid #6d95ebd4;
    border-radius: 1em;
    font-size: larger;
    resize: none;
    display: inline-block;
    position: relative; top: -19em; left: 22em;
    margin-bottom: -20em;
}
a{
    /*margin-right: 23em;*/
    display: inline-block;
}
textarea.classForModesRandom{
    border: 6px solid #6d95ebd4;
    border-right: 6px solid #6d95ebd4;
    border-bottom: 6px solid #6d95ebd4;
    border-radius: 1em;
    font-size: larger;
    resize: none;
    display: inline-block;
    position: relative; top: -6em; left: -41em;
    margin-bottom: -20em;
}

table{/*I want to figure out how to give this table rounded edges. It isn't as simple to accomplish this for the table as it is for the text area.*/
    background-color: white;
    border: 6px solid #6d95ebd4;
    border-spacing: 0px;
    border-right: 6px solid #6d95ebd4;
    border-bottom: 6px solid #6d95ebd4;
    border-radius: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative; left: -15em; top: 3em;
    size: 20em;
    font-size:large;
}

textarea.classForModes{
    border: 6px solid #6d95ebd4;
    border-right: 6px solid #6d95ebd4;
    border-bottom: 6px solid #6d95ebd4;
    border-radius: 1em;
    font-size: larger;
    resize: none;
    position: relative; top: -8em; left: 12em;
}



fieldset{
    width: 18em;
    height: 6.5em;
    color: black;
    border: 10px solid #888;
    border-right: 10px solid #666;
    border-bottom: 10px solid #666;
    position: relative; left: -30em;
    text-align: left;
    font-size:medium;
}

dialog{
    position:relative; left: -30rem; top: -1rem;
    font-size:small;
}

td.left{
    padding-right: 2em;
    text-align: left;
}


video{
    position: relative; top: -10em;

}

p.paraWithBackground{
    font-size: larger;
    background-color: #6d95ebd4;
    border-radius: 10em;
    padding-left: 1em;
    padding-right: 1em;
}
button.btn{
    color: white;
    /*background-color: #6d95ebd4;*/
    padding: 15px 32px;
    text-align: center;
 
}
