body{
    background-color: wheat;
}

hr{
    border-style:none;
    /*border: 10px solid black;
    border-style: solid;
    color: sandybrown;
    height: 20px;
    background-color: sandybrown;*/
}

div.stripColor{
    background-color: #6d95ebd4;
    text-align: left;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

div.stripColorAlternative{/*I need this so that the background color strips stop going past the first image*/
    background-color: #6d95ebd4;
    text-align: left;
    margin-right: 32em;/*This is probably super bad practice, I am just not knowledgeable enough to know how to do this another way.*/
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

mark{
    background-color: #6d95ebd4;
}

h1.AlignHeaders{
    text-align: center;
}

p{
    font-size: large;
    padding-left: 1em;
}

p.TextboxPara{
    font-size: large;
    text-align: center;
}

textarea{
    resize: none;
    font-size: large;
    border: 6px solid #6d95ebd4;
    border-right: 6px solid #6d95ebd4;
    border-bottom: 6px solid #6d95ebd4;
    border-radius: 1em;
}

div{
    text-align: center;
}

img.PopSD{
    width: 250px;
    height: 150px;
    float: right;
    margin-right: 5%;
}

img.SampleSD{
    width: 250px;
    height: 150px;
    float: right;
    margin-right: 5%;
}

img.NormalDist{
    width: 400px;
    height: 350px;
    float: right;
    margin-right: 5%;
    object-fit: cover;
    z-index: 1;
    position: relative;
}

button.btn{
    color: white;
    background-color: #6d95ebd4;
    padding: 15px 32px;
    text-align: center;
    position:relative; left: 2rem; top: -3rem;
}

input.sample{
    /*position:relative; left:-22.6%;*/
    position:relative; left:-23.5rem;
}

input.population{
    position:relative; left:-22.85rem;
}

label.sample{
    position:relative; left:-23.5em;
}

label.population{
    position:relative; left:-22.85rem;
}

select{
    margin-bottom: 2.65em;
    text-align: center;
    position: relative; left: -23.8em;
    width: 10em;
    height: 2em;
}

blockquote{
    font-size: larger;
    padding-left: 1em;
}

h3{
    padding-left: 1em;
}